## Types

***

## int

***

In [ ]:
123

In [ ]:
"123"

In [ ]:
f"{13:08b}"

In [ ]:
type(123.0)

In [ ]:
type(123)

In [ ]:
145*67

In [ ]:
type(145*67)

In [ ]:
145-67

In [ ]:
type(45-67)

In [ ]:
145/67

In [ ]:
type(145/67)

In [ ]:
145//67

In [ ]:
type(145//67)

In [ ]:
145%65

In [ ]:
type(8/2)

In [ ]:
type (8//2)

## numpy

***

In [ ]:
import numpy as np

In [ ]:
L = np.array([[1,2,3],[4,5,6],[7,8,9]], dtype=float)

In [ ]:
print (L)

In [ ]:
L.dtype

In [ ]:
Li = np.array([[1,2,3],[4,5,6],[7,8,9]])

In [ ]:
print (Li)

In [ ]:
Li.dtype

In [ ]:
# Roll a dice
rolls = np.random.randint(1,7,1000)

In [ ]:
# Average value
np.mean (rolls)

In [ ]:
# Spread
np.std (rolls)

In [ ]:
# Likert Scale (Strongly agree Agree.......)
likert = np.random.randint(1,8,1000)

In [ ]:
np.mean (likert)

In [ ]:
# Median
np.median (likert)

## Counts

***

In [ ]:
# Peak at the first 10 values

rolls [:10]

In [ ]:
# Unique values in the array

np.unique (rolls)

In [ ]:
# Counts - get unique rolls and the count of times they appeared in the 

un_rolls,counts = np.unique(rolls, return_counts=True)

un_rolls, counts

In [ ]:
# Bar Chart

import matplotlib.pyplot as plt

plt.bar(un_rolls, counts)

In [ ]:
np.mean( [1,1,2,3,3,4,5,6,7,7])

In [ ]:
np.mean( [1,1,1,1,1,7,7,7,7,7])

## float

***

In [ ]:
# Big integers

i = -2 ** 1000

In [ ]:
# Integers can be as big as possible in Python

i

In [ ]:
# An example of a float

1.23

In [ ]:
# Decimal point - not an integer

type(1.23)

In [ ]:
# No decimal point - an integer

type (123)

In [ ]:
# Exponential notation 123 x 10^{-2}  (number on left raised to the power the number on the right). Gives a float

123e-2

In [ ]:
# 123 x 10^(1)   Gives a float

123e1

In [ ]:
# This is still a float

123e1, type(123e1)

In [ ]:
#The usual operators work with floats (subtraction, multiply, divide, add)

1.23 * 4.56

In [ ]:
# You can have small floats   1 / 10^(100)  divide 1 by 10 100 times - there is about 100 zeros. Raising to a negative number means dividing

1e-100

In [ ]:
# Big floats  - 1 / 10^(100)  - Raising to a positive number means multiplying

1e100

In [ ]:
# Negative floats
-1.23

In [ ]:
# The number 1.23
# 123 / 10^(-2)  Take 123 and divide by 10 twice
123e-2

In [ ]:
# The number 1.23
# 12.3 / 10^(-1)  Take 123 and divide by 10

12.3e-1

In [ ]:
# The number 1.23
# 0.123 * 10^(1)  Take 123 and multiply by 10

0.123e1

In [ ]:
# The number 4567.

4567.

In [ ]:
# The number 4567.0 - the first number is between 1 (inclusive) and 10 (exclusive)
4.567e3

In [ ]:
# The number is 123,456,789.0. Every float number cn be written in exponential notation so that the front part before the e is between 1 and 10

In [ ]:
# The number is 0.001

1e-3

In [ ]:
# The number is 0.001 but the 10 is exclusive
# 10 / 10^(4)

10e-4

***

## End